@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --col-blue-100: #b6e9ec;
  --col-blue-500: #42d7e1;

  --col-green-500: #48e298;

  --col-gray-100: #ffffff;
  --col-gray-900: #2b2d2d;
}

html {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--col-gray-900);
  color: var(--col-gray-100);
}

main {
  overflow-x: hidden;
  position: relative;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  padding: 3rem 2.75rem 2.75rem 2.75rem;
}

@media only screen and (min-width: 650px) {
  article {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  article {
    padding: 9rem 8rem 4rem 8rem;
  }
}

header {
  flex: 1 0 16.25rem;
}

header h1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0 0 2.5rem 0;
  line-height: 1.35;
  max-width: 16.25rem;
}

@media only screen and (min-width: 1500px) {
  header h1 {
    font-size: 9rem;
    max-width: 32.5rem;
  }
}

p {
  margin: 0;
}

header h2 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--col-blue-100);
  margin: 0;
}

@media only screen and (min-width: 1500px) {
  header h2 {
    font-size: 4.5rem;
  }
}

header p {
  font-size: 1.25rem;
  max-width: 35rem;
  margin: 4rem 0 0 0;
}

@media only screen and (min-width: 1500px) {
  header p {
    font-size: 1.5rem;
  }
}

.cfp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1 0 auto;
}

.cfp-info p {
  font-size: 1.5rem;
}

.cfp-info p:first-child {
  margin-bottom: 0.25rem;
}

.cfp-info p.secondary {
  font-size: 1rem;
  color: var(--col-blue-100);
}

@media only screen and (min-width: 650px) {
  .cfp-info {
    flex-basis: 18rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cfp-info {
    flex-basis: 31rem;
  }
  .cfp-info p {
    font-size: 3rem;
  }
  .cfp-info p.secondary{
    font-size: 1.5rem;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.25rem;
  z-index: 100;
  background: linear-gradient(90deg, var(--col-blue-500) 0%, var(--col-green-500) 100%);
}

.bg-top {
  position: absolute;
  top: -14rem;
  right: -32rem;
  height: 48rem;
  width: 48rem;
}

.bg-side {
  position: absolute;
  bottom: 5rem;
  left: -7rem;
  height: 16rem;
  width: 16rem;
}

@media only screen and (min-width: 1024px) {
  .bg-top {
    top: -24rem;
    right: -24rem;
    height: 80rem;
    width: 80rem;
  }

  .bg-side {
    display: none
  }
}
